<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,200;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <header class="head-site">
            <a href="/form/" class="feedback">Обратная связь</a>
            <button class="cart-button" type="button" v-on:click="showCart">{{btCart}}</button>
        </header>
        <main class="shop-list">
            <input type="text" v-model="seach" v-on:input="seachGoods" class="seach" placeholder="Поиск"
                v-show="!isVisibleCart">
            <div class="item-no-seach" v-show="noSeach">
                <h3>Товар "{{seach}}" не найден!</h3>
            </div>
            <div class=" goods-list" v-show="!isVisibleCart">
                <div v-for="good in seachList" :key="good.id" :id="good.id">
                    <good-list :good="good" @add-item="addItem"></good-list>
                </div>
            </div>
            <div class="loader" v-show="loader">
                <div class="lds-grid" v-show="loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="cart-list" v-show="isVisibleCart">
                <div v-for="item in listCart" :key="item.id" :id="item.id">
                    <cart-list :item="item" @remove-item="removeItem"></cart-list>
                </div>
                <div class="no-item-cart" v-show="(summallItem==0)">
                    <h3>Товара нет</h3>
                </div>
            </div>
            <div class="sum-cart" v-show="isVisibleCart">
                <span class="sum-text">Общая сумма:</span>
                <span class="sum-num">{{summallItem}}</span>
            </div>
        </main>
        <footer class="footer-site">
            <span class="footer-site__text">Это футер</span>
        </footer>
    </div>
    <script src="js/script.js"></script>
</body>

</html>