* {
    padding: 0;
    margin: 0;
}
.head-site {
    padding: 10px 45px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    background-color: #222;
}

.feedback {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-right: 30px;
    background-color: #cbcd0d;
}

.cart-button {
    display: block;
    padding: 10px;
    background-color: #cbcd0d;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    outline: none;
    min-width: 72px;
}

.shop-list {
    padding: 120px 0;
    background-color: #333;
    min-height: 650px;
    height: fit-content;
}
.seach {
    outline: none;
    width: 30%;
    margin: 15px 30%;
    padding: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.goods-list,
.cart-list {
    margin: 0 auto;
    display: flex;
    width: 85%;
    flex-wrap: wrap;
}
.sum-cart {
    margin: 0 0 0 80%;
    display: flex;
    flex-direction: column;
    width: 110px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    text-align: right;
    padding: 15px;
    background-color: #555;
    border-radius: 15px;
    border: none;
    color: #cbcd0d;
}

.goods-item,
.cart-item {
    flex-direction: column;
    display: flex;
    width: 380px;
    text-align: center;
    border: 1px solid;
    margin: 0 45px 30px;
    background-color: #c1c9d0;
    border-radius: 10px;
    box-shadow: inset 9px 2px 20px 2px #3f51b5;
    border: none;
    padding: 10px;

    & h3 {
        padding: 10px;
        font-size: 32px;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-style: italic;
    }
    & img {
        display: block;
        margin: 0 auto;
        height: 230px;
    }
    .description {
        font-family: "Nunito", sans-serif;
        font-weight: 300;
    }
    & p {
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-style: italic;
        padding: 10px;
        .item-price {
            font-weight: 600;
        }
    }
    .item-count {
        width: 50px;
        padding: 5px;
        margin: 0 auto;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .add-item {
        outline: none;
        width: 100px;
        padding: 5px;
        margin: 10px auto 0;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        background-color: #cbcd0d;
        &:hover {
            background-color: #e9ec0e;
        }
        &:active {
            background-color: #777909;
        }
    }
}

.d-none {
    display: none;
}
.wrapper {
    background-color: #c1c9d0;
    min-height: 650px;
    .feedback-content {
        margin: 0 auto;
        width: 450px;
        font-family: "Nunito", sans-serif;
        &__text {
            display: block;
            padding: 30px 0;
        }
    }
}

.footer-site {
    height: 30px;
    background-color: #222;
    padding: 10px;
    &__text {
        display: block;
        width: 200px;
        margin: 0 auto;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        color: #fff;
    }
}

.item-no-seach {
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.rm {
    outline: none;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    background-color: rgb(255, 0, 0);
    &:hover {
        background-color: rgb(190, 3, 3);
    }
    &:active {
        background-color: rgb(121, 1, 1);
    }
}
.no-item-cart {
    padding: 120px;
    height: 450px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 54px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}
//---------------------------------------Лоадер
.loader {
    width: 100px;
    margin: 60px auto;
}
.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
// ---------------------------------------end
